[package]
name = "mistralrs-test"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4", features = ["derive"] }
mistralrs = { path = "../../Repositories/mistral.rs/mistralrs", features = ["metal"] }
tokio = "1.49.0"
